@(
	forgottenPasswordForm: Form[String],
	message: String = "", 
	alertType: String = "green-alert" 
)(
    implicit 
    request: play.api.mvc.RequestHeader
)

@import play.api.i18n._
@import tags._

@style = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("assets/stylesheets/form.css")">   
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/jquery-ui-1.8.9.custom/css/custom-theme/jquery-ui-1.8.9.custom.css")">  
	<style type="text/css">
	</style>	  
}

@breadcrumb = {
	<ul id="breadcrumb" class="menu">
		<li><a href="@routes.Application.index()">Home</a></li>
		<li>&raquo;</li>
		<li><a href="#">Forgotten Password</a></li>
	</ul>
}

@form = {
	<p>Enter your email into the form below to reset your password. A new temporary password 
	will be sent to your inbox.
	</p>
	<form class="shop-form" action="@routes.ResetPasswordController.resetPassword" method="POST">
		
		@if(forgottenPasswordForm.hasErrors || forgottenPasswordForm.hasGlobalErrors) {
			@alert("red-alert", "Please make corrections...")
		}
		
		@if(forgottenPasswordForm.hasGlobalErrors) {
		<ul>@forgottenPasswordForm.globalError.map { error =>
			<li><span class="error">@error.message</span></li>
	    	}
	    </ul>
	    }
		
		@forgottenPasswordForm.forField("email") { field =>
	      <label>Email</label>
	      <input type="text" name="@field.name" value="@field.value">
	      @field.error.map { error =>
	      	<span class="error">@Messages(error.message)</span> 
	      } 
	    }		
		<input type="submit" class="submit-input" value="Reset Password"/> 
	</form>
}

@main("Forgotten Password", breadcrumb, form, style) 